*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?cs=srgb&dl=pexels-stanislav-kondratiev-2908984.jpg&fm=jpg&_gl=1*1ktizsw*_ga*MTIyMDExMDY3My4xNjk0NTI4ODA5*_ga_8JE65Q40S6*MTcwNDUyODc0MC4xMS4xLjE3MDQ1Mjg3NTQuMC4wLjA.");
    background-size: cover;
    background-position: center;
}
.dictionary-background{
    border: 1px solid white;
    height: auto;
    width: 50%;
    margin: 25px;
    margin-left: 25%;
    background-color: rgb(243, 237, 187);
    border-radius: 20px;
}
.dictionary-background h1{
    text-align: center;
    font-size: 2vw;
    margin: 0 20px;
}
.input-box{
    border: 0.5px solid black;
    margin: 25px 10px;
    padding: 25px;
    border-radius: 10px;
}
.input-box p{
    display: flex;
}
.input-box h3{
    font-weight: 100;
    position: relative;
    font-size: 1vw;
    bottom: 10px;
}
.input-box input{
    width: 100%;
    height: 50px;
    font-size: 1.5vw;
    text-align: center;
    outline: none;
}
.input-box i{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    right: 50px;
    top: 2px;
    width: 53px;
    height: 48px;
    display: grid;
    background: lightcyan;
    place-content: center;
}
.input-box h2{
    text-align: center;
    color: rgb(212, 67, 0);
}
.defination-background{
    /* border: 1px solid black; */
    margin: 25px 10px;
    padding: 10px;
}
.defination-background h2{
    text-align: center;
    font-size: 2.2vw;
}
.defination-background h3{
    font-weight: 600;
    text-decoration: underline;
    margin: 10px 0;
}
.defination-background p{
    font-size: 1.2rem;
    word-wrap: break-word;
}
.parts-speech{
    font-weight: 600;
    margin: 10px 0;
}
@media only screen and (max-width: 412px) {
    .dictionary-background{
        width: 100%;
        margin: 25px 0px ;
        margin-left: unset;
        border-radius: 20px;
    }
    .dictionary-background h1 {
        font-size: 8vw;
    }
    .input-box h3{
        font-size: 6vw;
    }
    .input-box input {
        font-size: 7.5vw;
    }
    .defination-background h2 {
        font-size: 6.2vw;
    }
    /* .input-box h2{
        font-size: 2rem;
    }
    
    .defination-background p{
        font-size: 2vw;
    } */

}